<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Public Side</title>
  </head>
  <body>
    <div id="header">
      <div id="header-title">parkMyCar</div>
      <div id="navbar">
        <span id="home">Home</span>
        <span id="aboutUs">About us</span>
        <span id="bookNow">Book now</span>
      </div>
    </div>
    <div id="map"></div>
  </body>
</html>
