<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Parking Registeration Form</title>
    <link rel="stylesheet" type="text/css" href="" />
  </head>
  <body>
    <h1>Signup</h1>
    <form method="post" action="/operator/signup">
      <p>
        <label for="full_name">
          Full Name :
          <input id="full_name" type="text" name="full_name" placeholder="write your full name here" />
        </label>
      </p>

      <p>
        <label for="address"
          >Address :
          <input id="address" type="text" name="address" placeholder="put your parking's address here" />
        </label>
      </p>

      <p>
        <label for="cost_per_hour"
          >Cost per Hour :
          <input id="cost_per_hour" type="number" name="cost_per_hour" placeholder="cost per hour" />
        </label>
      </p>

      <p>
        <label for="capacity">
          Capacity :
          <input id="capacity" type="number" name="capacity" placeholder="total capacity" />
        </label>
      </p>

      <button>Submit</button>
    </form>
  </body>
</html>
