<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Parking Registeration Form</title>
    <link rel="stylesheet" type="text/css" href="" />
  </head>
  <body>
    <h1>Sign Up Your Parking Lot</h1>
    <form method="post" action="/operator/signup">
      <p>
        <label for="username">Username : <input id="username" type="text" name="username" placeholder="enter Username"/></label>
      </p>

      <p>
        <label for="password">Password : <input id="password" type="password" name="password" placeholder="enter password"/></label>
      </p>

      <p>
        <label for="address"
          ><b>Address</b> :
          <input id="address" type="text" name="address" placeholder="put your parking's address here" />
        </label>
      </p>

      <p>
        <label for="cost_per_hour"
          ><b>Cost per Hour</b> :
          <input id="cost_per_hour" type="number" name="cost_per_hour" placeholder="cost per hour" />
        </label>
      </p>

      <p>
        <label for="capacity"
          ><b>Capacity</b>:
          <input id="capacity" type="number" name="capacity" placeholder="total capacity" />
        </label>
      </p>

      <p><button>Submit</button></p>
    </form>

    <a href="loginform.html">Existing User? Login here</a>
  </body>
</html>
